@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* gwt */
.gwt-ComboBox {
  padding: 1px !important;
}

.gwt-Button::-moz-focus-inner {
  padding: 4px !important;
}

.gwt-Button {
  padding: 4px !important;
  margin: 4px 4px 2px 0;
}

.gwt-ComboBox,
.gwt-TextBox,
.gwt-Button {
  border: rgba(0, 0, 0, 0.4) 1px solid;
  border-radius: 5px;
  padding: 2px;
}

.gwt-Label {
  padding: 4px;
  width: max-content;
}

.gwt-DialogBox .dialogTopCenter {
  padding: 8px !important;
  color: #0a4e7a;
  font-weight: 600 !important;
}

.gwt-DialogBox .dialogMiddleCenterInner {
  padding: 4px;
  background: #eaebed;
}

.gwt-DialogBox .dialogBottomLeft {
  border-radius: 0 0 0 60px;
}
.gwt-DialogBox .dialogBottomRight {
  border-radius: 0 0 60px 0;
}
.gwt-DialogBox .dialogTopLeft {
  border-radius: 60px 0 0 0;
}
.gwt-DialogBox .dialogTopRight {
  border-radius: 0 60px 0 0;
}

.gwt-DialogBox .dialogBottomLeft,
.gwt-DialogBox .dialogBottomRight,
.gwt-DialogBox .dialogBottomCenter,
.gwt-DialogBox .dialogTopLeft,
.gwt-DialogBox .dialogTopRight,
.gwt-DialogBox .dialogTopCenter,
.gwt-DialogBox .dialogMiddleRight,
.gwt-DialogBox .dialogMiddleLeft {
  background: #92bedf !important;
}

.gwt-DialogBox .dialogBottomLeftInner,
.gwt-DialogBox .dialogBottomRightInner {
  height: 5px !important;
}

.gwt-DialogBox .dialogTopRightInner,
.gwt-DialogBox .dialogTopLeftInner {
  width: 5px !important;
}

.gwt-DialogBox .dialogMiddleCenterInner td {
  padding: 2px;
}

.gwt-CheckBox {
  display: flex;
}

.gwt-CheckBox input {
  margin-right: 4px;
}
/* gwt end */

body {
  overflow: overlay;
  background: #0a4e7a;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaebed;
  margin-top: 56px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #92bedf;
  margin-top: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a4e7a;
}
