@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaebed;
  margin-top: 56px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #92bedf;
  margin-top: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a4e7a;
}
